/.local/
/.pnpm-store/
/.tmp/
/node_modules/
/demo/.next/
/demo/node_modules/
/demo/next-env.d.ts
/demo/out/
/packages/react-visual-novel/dist/
/packages/react-visual-novel/node_modules/
.DS_Store
.eslintcache
*.pem
*-debug.log*
*.tsbuildinfo
.env
.env*.local
.vercel/
